{% extends 'app/pages/blog/template.html.twig' %}

{% set page_title %}{{ elem.title }}{% endset %}

{% block main_content %}
    <div class="main-content">
        {% include "user/layout/components/blog/item.html.twig" with {
            item: elem
        } %}
    </div>
{% endblock %}