{% extends 'app/layout/layout.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block main_content %}
<div class="main-content">
    <div class="title-page">
        <h1>Hello ! ✅</h1>
    </div>

    <p>Hello world</p>
</div>
{% endblock %}
